@tailwind base;
@tailwind components;
@tailwind utilities;

 body{
    background: black;
    color: black;
 }
 .header{
  background-color: #15161a;
 }
 .card{
   background: rgb(21, 20, 20);
   color: rgb(220, 216, 216);

 }